.slider-movies {
  height: 500px;
  &__movie {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &-info {
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 40px;
  
      > div {
        background-color: #a7a7a7cf;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        padding: 20px;
      }
  
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-movies__movie-info > div {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {

  .slider-movies__movie-info > div {
    width: 90%;
  }
}